<template>
<BasicModal :show="!!error" @close="handleError">
         <div class="Error">
          <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
          <p>{{ error }}</p>
          <p>{{ subError }}</p>
        </div>
</BasicModal>
</template>
<script>
import BasicModal from "@/components/ui/BasicModal";
export default {
    name:"error-modal",
    components:{BasicModal},
    computed:{
        error(){
            return this.$store.getters.hasError;
        },
         subError(){
            return this.$store.getters.hasSubError;
        },
        hasError(){
            return !!this.$store.getters.hasError;
        },
    },
    methods:{
         handleError(){
            this.$store.commit("handleError");
        },
    }
}
</script>

<style>

</style>