<template>
  <div class="not-found">
    <div class="title" data-content="404">404 - Not Found</div>

    <div class="subtitle">Oups, la page que vous cherchez n'existe pas.</div>

    <div class="buttons">
      <a class="button" href="/">Go to homepage</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccessDenied",
};
</script>

<style lang="scss">
@import "@/variables";

.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5em;
  font-weight: 700;
  color: $redError;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: $primary;
}
.isi {
  font-size: 18px;
  text-align: center;
  margin: 30px;
  padding: 20px;
  color: $primary;
}
.buttons {
  margin: 30px;
  font-weight: 700;
  border: 2px solid $redError;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: $redError;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
  display: inline-block;

  .buttons:hover {
    background-color: $redError;
    color: $primary;
    transition: all 0.2s ease-in-out;
  }
  a {
    color: $redError !important;
    text-decoration: none;
  }
}
</style>