<template>
  <div id="page">
    <BasicModal :show="!!error" @close="handleError">
      <div class="Error">
        <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
        <p>{{ error }}</p>
      </div>
    </BasicModal>
    <transition name="fade">
      <div class="errorbox" v-if="hasError">
        <p>Erreur d'authentification</p>
        <p>{{ errorMsg }}</p>
      </div>
    </transition>
    <div id="login">
      <div id="para">
        <img src="@/assets/logo.png" alt="Logo" />
        <h1>Authentification</h1>
        <p>
          Veuillez entrer votre adresse e-mail et votre mot de passe pour
          accéder à votre compte
        </p>
      </div>
      <div id="form">
        <form @submit.prevent="doLogin">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            v-model="email"
            autocomplete="on"
            required/>
          <label for="password">Password</label>
          <input type="password" id="password" v-model="password" required />
          <button type="submit">Connexion</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>

import BasicModal from "@/components/ui/BasicModal";

export default {
  name: "LoginPage",
  components: {BasicModal },
  data() {
    return {
      email: "",
      password: "",
      errorMsg: "",
      error: "",
    };
  },
  computed: {
    hasError() {
      return !!this.errorMsg;
    },
  },
  watch: {
    email(newEmail, oldEmail) {
      if (this.hasError && newEmail != oldEmail) {
        this.errorMsg = "";
      }
    },
    password(newPassword, oldPassword) {
      if (this.hasError && newPassword != oldPassword) {
        this.errorMsg = "";
      }
    },
  },
  methods: {
    doLogin() {
      this.$store.commit("showLoading");
      const loginPayload = {
        email: this.email,
        password: this.password,
      };
      this.$store
        .dispatch("login", loginPayload)
        .then(() => {
           this.$store.commit("hideLoading");
          this.$router.push("/");
        })
        .catch((error) => {
           this.$store.commit("hideLoading");
          if (error.response.status == 400) this.error = error.response.data;
          else this.errorMsg = error.response.data;
        });
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.app .content {
  padding: 0;
}
#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  #para {
  background-color: #ffffff;
  padding: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;
  h1 {
  font-size: 1.5em;
  color: #34303d;
  margin-top: 10px;
}
p {
  font-size: 0.8em;
  color: #95a5a6;
  margin-top: 10px;
}
}
}

.errorbox {
  background-color: rgb(254, 215, 215);
  padding: 10px;
  width: 100%;
  p {
    color: #832323;
    font-size: 12px;
  }
  p:first-child {
    color: #831e1e;
    font-weight: bold;
    font-size: 14px;
  }
}



#form {
  background-color: #34303d;
  border-radius: 5px;
  margin-top: -30px;
  margin-right: -30px;
  top: 0;
  right: 0;
  position: absolute;
  box-shadow: 0px 0px 30px 0px #666;
  color: #ecf0f1;
  width: 360px;
  padding: 45px;
}

#form label {
  color: white;
  font-size: 0.8em;
}

#form input {
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 8px;
  color: #ecf0f1;
  font-size: 1em;
  margin-bottom: 20px;
}
#form input:focus {
  outline: none;
  border-color: #ebebeb;
  box-shadow: 0 0 10px #ebebeb;
}
#form button {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

#form button:hover {
  background-color: #eeeeee;
}

@media screen and (max-width: 700px) {
  #form {
    margin: 0px !important;
    position: static;
  }
}
</style>
