<template>
  <div class="containerFrom container-items">
    <div class="header">
      <div class="header_content">
        <i class="fa-solid fa-angle-left fa-3x" aria-hidden="true" @click="closeForm"></i>
        <div class="container-items_icon">
          <i
            class="fa fa-person-military-pointing fa-5x"
            aria-hidden="true"
            v-if="isSuperAdmin"></i>
          <img
            src="@/assets/users_icon.svg"
            alt="logo_icon"
            v-else/>
          <i
            class="fas fa-xl"
            :class="[isEdit ? 'fa-edit' : 'fa-plus']"
            aria-hidden="true"></i>
        </div>
        <h1 class="container-items_title">
          <span class="container-items_title--top" v-if="isEdit">Modifier</span>
          <span class="container-items_title--top" v-else>Ajouter</span>
          <span class="container-items_title--bottom" v-if="isSuperAdmin">Gardien</span>
          <span class="container-items_title--bottom" v-else>Personnel</span>
        </h1>
      </div>
    </div>
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="input-group">
          <input
            type="text"
            placeholder="Nom de l'utilisateur"
            v-model="userData.nom"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Prenom de l'utilisateur"
            v-model="userData.prenom"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="email"
            placeholder="Adresse Email du l'utilisateur"
            v-model.trim="userData.email"/>
          <div class="input-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group" v-if="!isEdit">
          <input
            type="password"
            placeholder="Mot de passe du l'utilisateur"
            v-model.trim="userData.password"
            required/>
          <div class="input-icon">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="tel"
            placeholder="Numéro de téléphone du l'utilisateur"
            v-model="userData.telephone"/>
          <div class="input-icon">
            <i class="fa-solid fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Adresse du l'utilisateur"
            v-model="userData.adresse"/>
          <div class="input-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Fonction du l'utilisateur"
            v-model="userData.fonction"/>
          <div class="input-icon">
            <i class="fa fa-fonticons" aria-hidden="true"></i>
          </div>
        </div>
        <label class="toggler-wrapper style-19">
          <input type="checkbox" v-model="isChecked"/>
          <div class="toggler-slider">
            <div class="toggler-knob"></div>
          </div>
        </label>
      </div>
      <div class="buttonSave">
        <button>Confirmer</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "UserForm",
  props: {
    selectedItem: {
      type: Object,
    },
  },
  data() {
    return {
      userData: this.selectedItem ?? {},
    };
  },
  computed: {
    isChecked: {
      get() {
        return this.userData && this.userData.actif ? true : false;
      },
      set(newValue) {
        this.userData.actif = newValue ? 1 : 0;
      },
    },
    isEdit() {
      return this.selectedItem != undefined;
    },
    isSuperAdmin() {
      return this.$store.getters.isSuperAdmin;
    },
  },
  methods: {
    closeForm(){
      this.$emit("close");
    },
    submitForm() {
      this.$store.commit("showLoading");
      this.userData = {
        ...this.userData,
        type: this.$store.getters.isSuperAdmin ? 1 : 2,
        idcompany: this.$store.getters.getCompany,
      };
      this.$emit(this.isEdit ? "edit" : "save", this.userData);
    },
  },
};
</script>
<style lang="scss">
</style>