<template>
  <div class="containerFrom container-items">
    <div class="header">
      <div class="header_content">
                  <i class="fa-solid fa-angle-left fa-3x" aria-hidden="true" @click="closeForm"></i>
        <div class="container-items_icon">
          <img src="@/assets/enterprise-icon.svg" alt="logo_icon" />
          <i
            class="fas fa-xl"
            :class="[isEdit ? 'fa-edit' : 'fa-plus']"
            aria-hidden="true"></i>
        </div>
        <h1 class="container-items_title">
          <span class="container-items_title--top" v-if="isEdit">Modifier</span>
          <span class="container-items_title--top" v-else>Ajouter</span>
          <span class="container-items_title--bottom">entreprise</span>
        </h1>
      </div>
    </div>
    
    <form @submit.prevent="submitForm">
      <div class="row">
        <h1 v-if="isEdit">
          Vous pouvez modifier les informations de l'entreprise '
          {{ OldName }} ' puis enregistrer
        </h1>
        <h1 v-else>
          Voulez-vous remplir le formulaire suivant pour ajouter une entreprise
        </h1>
      </div>
      <div class="row">
        <div class="input-group input-group-icon">
          <input
            type="text"
            placeholder="Nom de l'entreprise"
            v-model="nomCompany"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="email"
            placeholder="Adresse Email du l'entreprise"
            v-model.trim="emailCompany"/>
          <div class="input-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Adresse du l'entreprise"
            v-model="adresseCompany"/>
          <div class="input-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="tel"
            placeholder="Numéro de téléphone du l'entreprise"
            v-model="telephoneCompany"/>
          <div class="input-icon">
            <i class="fa-solid fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <label class="toggler-wrapper style-19">
          <input type="checkbox" v-model="checkedCompany" />
          <div class="toggler-slider">
            <div class="toggler-knob"></div>
          </div>
        </label>
      </div>
      <h3>
        <i class="fa fas fa-user-shield fa-1x" aria-hidden="true"></i>
        L'administrateur de l'entreprise
      </h3>
      <div class="row">
        <div class="input-group">
          <input
            type="text"
            placeholder="Nom de l'utilisateur"
            v-model="nomUser"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Prenom de l'utilisateur"
            v-model="prenomUser"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="email"
            placeholder="Adresse Email du l'utilisateur"
            v-model.trim="emailUser"/>
          <div class="input-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group" v-if="!isEdit">
          <input
            type="password"
            placeholder="Mot de passe du l'utilisateur"
            v-model.trim="passwordUser"
            required/>
          <div class="input-icon">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="tel"
            placeholder="Numéro de téléphone du l'utilisateur"
            v-model="telUser"/>
          <div class="input-icon">
            <i class="fa-solid fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Adresse du l'utilisateur"
            v-model="adresseUser"/>
          <div class="input-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Fonction du l'utilisateur"
            v-model="fonctionUser"/>
          <div class="input-icon">
            <i class="fa fa-fonticons" aria-hidden="true"></i>
          </div>
        </div>

        <label class="toggler-wrapper style-19">
          <input type="checkbox" v-model="checkedUser" />
          <div class="toggler-slider">
            <div class="toggler-knob"></div>
          </div>
        </label>
      </div>
      <div class="buttonSave">
        <button type="submit">Confirmer</button>
      </div>
    </form>
  </div>
</template>

<script>


import "bootstrap/dist/css/bootstrap.css";
import "@fortawesome/fontawesome-free/css/all.css";
import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";

export default {
  name: "CompanyFrom",
  props: {
    selectedItem: {
      type: Object,
    },
  },
  data() {
    return {
      OldName: this.selectedItem == undefined ? "" : this.selectedItem.nom,
      nomCompany: this.selectedItem == undefined ? "" : this.selectedItem.nom,
      passwordCompany:
        this.selectedItem == undefined ? "" : this.selectedItem.password,
      emailCompany:
        this.selectedItem == undefined ? "" : this.selectedItem.email,
      adresseCompany:
        this.selectedItem == undefined ? "" : this.selectedItem.adresse,
      checkedCompany: this.verifCheckCompany(),
      checkedUser: this.verifCheckUser(),
      telephoneCompany:
        this.selectedItem == undefined ? "" : this.selectedItem.telephone,
      nomUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.nom,
      passwordUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.password,
      prenomUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.prenom,
      emailUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.email,
      telUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.telephone,
      adresseUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.adresse,
      fonctionUser:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.administrator.fonction,
    };
  },
  computed: {
    isEdit() {
      return this.selectedItem != undefined;
    },
  },
  methods: {
    verifCheckCompany() {
      if (this.selectedItem == undefined) return false;
      return this.selectedItem.actif == 0 ? false : true;
    },
    verifCheckUser() {
      if (this.selectedItem == undefined) return false;
      return this.selectedItem.administrator.actif == 0 ? false : true;
    },
     closeForm(){
      this.$emit("close");
    },
    submitForm() {
      this.$store.commit("showLoading");
      const formData = {
        nom: this.nomCompany,
        telephone: this.telephoneCompany,
        email: this.emailCompany,
        password: this.passwordCompany,
        adresse: this.adresseCompany,
        actif: this.checkedCompany ? 1 : 0,
        administrator: {
          nom: this.nomUser,
          prenom: this.prenomUser,
          telephone: this.telUser,
          fonction: this.fonctionUser,
          password: this.passwordUser,
          email: this.emailUser,
          adresse: this.adresseUser,
          type: 0,
          actif: this.checkedUser ? 1 : 0,
        },
      };
      this.$emit(this.isEdit ? "edit" : "save", formData);
    },
  },
};
</script>
<style lang="scss">
@import "@/variables";
</style>