<template>
  <div class="containerFrom" @submit.prevent="submitForm">
    <form>
      <div class="row">
        <div class="input-group input-group-icon">
          <input
            type="text"
            placeholder="Nom de Visiteur"
            v-model="nomvisitor"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="text"
            placeholder="Prenom de Visiteur"
            v-model="prenomvisitor"/>
          <div class="input-icon">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="email"
            placeholder="Adresse Email du Visiteur"
            v-model.trim="emailvisitor"/>
          <div class="input-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input
            type="tel"
            placeholder="Numéro de téléphone du Visiteur"
            v-model="telvisitor"/>
          <div class="input-icon">
            <i class="fa-solid fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <date-picker v-model="date" :config="options"></date-picker>
          <div class="input-icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="buttonSave">
        <button>Confirmer</button>
      </div>
    </form>
  </div>
</template>

<script>
import datePicker from "vue-bootstrap-datetimepicker";

export default {
  name: "VisitForm",
  components: { datePicker },
  props: {
    selectedItem: {
      type: Object,
    },
  },
  data() {
    return {
      
      nomvisitor:
        this.selectedItem == undefined ? "" : this.selectedItem.visitor.nom,
      prenomvisitor:
        this.selectedItem == undefined ? "" : this.selectedItem.visitor.prenom,
      emailvisitor:
        this.selectedItem == undefined ? "" : this.selectedItem.visitor.email,
      telvisitor:
        this.selectedItem == undefined
          ? ""
          : this.selectedItem.visitor.telephone,
      date:
        this.selectedItem == undefined
          ? new Date()
          : new Date(this.selectedItem.dateVisit),
      options: {
        format: "DD/MM/YYYY h:m:s a",
        useCurrent: false,
        icons: {
          time: "far fa-clock",
          date: "far fa-calendar",
          up: "fas fa-arrow-up",
          down: "fas fa-arrow-down",
          previous: "fas fa-chevron-left",
          next: "fas fa-chevron-right",
          today: "fas fa-calendar-check",
          clear: "far fa-trash-alt",
          close: "far fa-times-circle",
        },
      },
    };
  },
  methods: {
    submitForm() {
      this.$store.commit("showLoading");
      let dateStr;
      if (this.date instanceof Date) {
        dateStr = new Date(this.date).toISOString();
      } else {
        let date1 = this.date.split("/");
        let newDate = date1[1] + "/" + date1[0] + "/" + date1[2];
        dateStr = new Date(newDate).toISOString();
      }
      const formData = {
        visitor: {
          id: this.selectedItem == undefined ? 0 : this.selectedItem.visitor.id,
          nom: this.nomvisitor,
          prenom: this.prenomvisitor,
          telephone: this.telvisitor,
          email: this.emailvisitor,
        },
        idcompany: this.$store.getters.getCompany,
        dateVisit: dateStr,
      };
      this.$emit("save", formData);
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/variables";
.form-control {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  height: 3.4em;
}
</style>