<template>
  <div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "HomePage",
  mounted() {
    if (this.$route.path === "/") {
      switch (JSON.parse(localStorage.getItem("current_user")).role) {
        case "Gardien":
        case "Administrateur":
          if (this.$route.name !== "Visite") this.$router.push("/Home/Visite");
          break;
        case "SuperAdmin":
          if (this.$route.name !== "Entreprises")
            this.$router.push("/Home/Entreprises");
          break;
      }
    }
  },
};
</script>

<style>
</style>