<template>
  <div class="company">
    <CompanyFrom
      :selectedItem="isEdit ? selectedItem : undefined"
      @save="addItem"
      @edit="editItem"
      @close="closeForm"
      v-if="isForm"/>
    <div class="container-items" v-else>
          <delete-modal name="entreprise" :mixName="mixinsName" :item="selectedItem" />

      <div class="header">
        <div class="header_content">
          <img
            src="@/assets/enterprise-icon.svg"
            alt="logo_icon"
            class="container-items_icon"/>
          <h1 class="container-items_title">
            <span class="container-items_title--top">Liste</span>
            <span class="container-items_title--bottom">Entreprises</span>
          </h1>
        </div>
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            v-model="search"
            placeholder="Recherche une entreprise par leur nom, leur email, leur téléphone ou leur adresse"/>
          <div class="searchButtons">
            <button type="submit" class="addButton" @click="toggleAjoutModal">
              <i class="fa fa-add" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <table class="table" aria-describedby="container-items_title">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Numéro de téléphone</th>
            <th>Adresse</th>
            <th>Actif</th>
            <th>Administrateur</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in filteredItems" :key="item.id">
            <td>{{ item.nom }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telephone }}</td>
            <td>{{ item.adresse }}</td>
            <td>
              <i
                class="fa-solid"
                aria-hidden="true"
                @click="
                  switchActif({
                    id: item.id,
                  })
                "
                :class="verifActif(item)"></i>
            </td>
            <td>{{ fullNameAdmin(item) }}</td>
            <td>
              <i
                class="fa fa-pencil"
                @click="toggleEditModal(item)"
                aria-hidden="true"></i>
              <i
                class="fa fa-trash"
                @click="toggleSuppressionModal(item)"
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import CompanyFrom from "./companyForm/CompanyForm";
import DeleteModal from "@/components/ui/DeleteModal";
import filtersMixins from "@/mixins/filtersMixins";
import formMixins from "@/mixins/formMixins";
import apisMixins from "@/mixins/apisMixins";

export default {
  name: "CompanysPage",
  components: { CompanyFrom,DeleteModal},
  mixins: [apisMixins, filtersMixins, formMixins],
  created() {
    this.mixinsName = "Company";
    this.loadItems();
  },
  
  methods: {
    fullNameAdmin(el) {
      return `${el.administrator.nom}  ${el.administrator.prenom}`;
    },
  },
   computed: {
    selectedItem(){
        return this.$store.getters.getSelectedItem;
    },}
};
</script>

<style lang="scss">
.company{
  
}
</style>