<template>
  <div class="container-items">
    <delete-modal name="Visite" :mixName="mixinsName" :IdLoad="idLoad" />
    <BasicModal
      title="Ajouter une Visite ..."
      :show="showAjoutPopUp"
      :confirm="true"
      @close="toggleAjoutModal">
      <VisitForm @save="addItem"></VisitForm>
    </BasicModal>
    <BasicModal
      title="Modifier Visit ... "
      :show="showEditPopUp"
      :confirm="true"
      @close="toggleEditModal">
      <VisitForm :selectedItem="selectedItem" @save="editItem"></VisitForm>
    </BasicModal>
    <div class="header">
      <div class="header_content">
        <img
          src="@/assets/visit_icon.svg"
          alt="logo_icon"
          class="container-items_icon"/>
        <h1 class="container-items_title">
          <span class="container-items_title--top">Liste</span>
          <span class="container-items_title--bottom">Visite</span>
        </h1>
      </div>
    </div>
    <div class="tabs" v-if="isGardien">
      <div v-for="item in itemsCompanys" :key="item.id">
        <input
          type="radio"
          :id="'radio-' + item.id"
          name="tabs"
          v-if="item == itemsCompanys[0]"
          checked/>
        <input type="radio" :id="'radio-' + item.id" name="tabs" v-else />
        <label
          class="tab"
          :for="'radio-' + item.id"
          @click="loadItems(item.id)">{{ item.nom }}</label>
      </div>
    </div>

    <div class="visitor_items">
      <div class="search">
        <input
          type="text"
          class="searchTerm"
          v-model="search"
          v-if="filteredVisits.length !== 0"
          placeholder="Recherche une visite par nom du visiteur , leur numéro de téléphone ou leur email"/>
        <input
          type="date"
          id="datevisite"
          name="datevisite"
          v-if="isGardien"
          v-model="dateVisite"/>
        <button
          type="submit"
          class="addButton"
          v-if="!isGardien"
          @click="toggleAjoutModal">
          <i class="fa fa-add" aria-hidden="true"></i>
        </button>
      </div>
      <div class="visitor_item" v-for="item in filteredVisits" :key="item.id">
        <div
          class="visitor_data clickable"
          :class="{ isaccessed: item.isAccessed }"
          @click="togglemoreAction(item)">
          <img src="@/assets/avatar.png" alt="avatar" class="visitor_picture" />
          <div class="visitor_info">
            <span class="visitor_fullname">{{ item.visitor.nom }} {{ item.visitor.prenom }}</span>
            <span class="visitor_tel">Numéro de téléphone : {{ item.visitor.telephone }}</span>
            <span class="visitor_email">Email : {{ item.visitor.email }}</span>
          </div>
          <div class="visitor_end">
            <div class="visit_more">
              <i
                class="fa fa-ellipsis-v"
                aria-hidden="true"
                @click="togglemoreAction(item)"
                v-if="!isGardien"></i>
            </div>
            <span class="visit_date">{{
              new Date(item.dateVisit).toLocaleString()
            }}</span>
          </div>
        </div>
        <div
          class="visitor_actions"
          v-if="showmore && selectedItem && selectedItem.id == item.id">
          <div class="visitor_edit" @click="toggleEditModal(item)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>
          <div class="visitor_remove" @click="toggleSuppressionModal(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
        </div>
        <div
          class="visitor_access_action"
          v-if="selectedItem && selectedItem.id == item.id && isGardien && hasNoAccess(item)">
          <div class="visitor_access" @click="toggleAccess(item)">
            <i class="fa-solid fa-check" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BasicModal from "@/components/ui/BasicModal";
import VisitForm from "./visitForm/VisitForm";
import apisMixins from "@/mixins/apisMixins";
import DeleteModal from "@/components/ui/DeleteModal";
import filtersMixins from "@/mixins/filtersMixins";
export default {
  name: "VisitePage",
  components: { BasicModal, VisitForm, DeleteModal },
  mixins: [apisMixins, filtersMixins],
  data() {
    return {
      search: "",
      content: "",
      error: "",
      titelEdit: "",
      showEditPopUp: false,
      items: [],
      dateVisite: new Date().toISOString().slice(0, 10),
      itemsCompanys: [],
      idLoad: undefined,
      showAjoutPopUp: false,
      showmore: false,
      idCompany: this.$store.getters.getCompany,
    };
  },
  async created() {
    if (this.isGardien) {
      await this.loadCompanys();
      this.mixinsName = "Visit";
      if (this.itemsCompanys.length !== 0) {
        this.idLoad = this.itemsCompanys[0].id;
        await this.loadItems(this.itemsCompanys[0].id);
      }
    } else {
      this.mixinsName = "Visit";
      this.idLoad = this.idCompany;
      await this.loadItems(this.idCompany);
    }
  },
  computed: {
    selectedItem() {
      return this.$store.getters.getSelectedItem;
    },
    isGardien() {
      return this.$store.getters.isGardien;
    },
    
    filteredVisits() {
       let searchTerm = (this.search || "").toLowerCase();
      if (this.isGardien) {
        let dateVisit = new Date(this.dateVisite);
        return this.items.filter((item) => {
        let nom = (item.visitor.nom || "").toLowerCase();
        let telephone = (item.visitor.telephone || "").toLowerCase();
        let email = (item.visitor.email || "").toLowerCase();
        let adresse = (item.visitor.adresse || "").toLowerCase();
        let dateItem = new Date(item.dateVisit);
        return (
          (nom.indexOf(searchTerm) > -1 ||
            adresse.indexOf(searchTerm) > -1 ||
            telephone.indexOf(searchTerm) > -1 ||
            email.indexOf(searchTerm) > -1) &&
          dateItem.getFullYear() === dateVisit.getFullYear() &&
          dateItem.getMonth() === dateVisit.getMonth() &&
          dateItem.getDate() === dateVisit.getDate()
        );
      });
      }
     return this.items.filter((item) => {
        let nom = (item.visitor.nom || "").toLowerCase();
        let telephone = (item.visitor.telephone || "").toLowerCase();
        let email = (item.visitor.email || "").toLowerCase();
        let adresse = (item.visitor.adresse || "").toLowerCase();
        return (
          (nom.indexOf(searchTerm) > -1 ||
            adresse.indexOf(searchTerm) > -1 ||
            telephone.indexOf(searchTerm) > -1 ||
            email.indexOf(searchTerm) > -1)
        );
      });
      
      
    },
  },
  methods: {
    async loadCompanys() {
      this.$store.commit("showLoading");
      try {
        let res = await this.$store.dispatch("getAllCompanys");
        this.itemsCompanys = res.data;
      } catch (error) {
        const payload = {
          erreur: error.code || "Une erreur s'est produite",
          subError: error.message,
        };
        this.$store.commit("showError", payload);
      }
    },
    hasNoAccess(item) {
      return !item.isAccessed;
    },
    toggleSuppressionModal(item) {
      this.$store.commit("setSelectedItem", item);
      this.$store.commit("showSuppressionPopUp");
    },
    toggleAjoutModal() {
      this.$store.commit("setSelectedItem", undefined);
      this.showAjoutPopUp = !this.showAjoutPopUp;
    },
    toggleEditModal(item) {
      this.$store.commit("setSelectedItem", item);
      this.showEditPopUp = !this.showEditPopUp;
    },
    toggleAccess(item) {
      this.$store.dispatch("Access", item.id);
      this.loadItems();
      this.$store.commit("setSelectedItem",undefined);
      this.$router.go();
    },
    togglemoreAction(item) {
      this.$store.commit("setSelectedItem", item);
      if (this.isGardien) return;
      this.showmore = !this.showmore;
    },
  },
};
</script>
<style lang="scss">
@import "@/variables";

.visitor_items {
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  background-color: $tabcolor;
  height: 100%;
  -webkit-box-shadow: 0px -4px 3px rgba($barcolor, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba($barcolor, 0.15);
  box-shadow: 0px -4px 3px rgba($barcolor, 0.15);
  .search {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    input {
      background-color: white;
    }
    .searchTerm {
      height: 30px;
      border: 2px solid $barcolor;
      border-radius: 5px;
      outline: none;
      margin-inline: 5px;
      color: $barcolor;
    }
    .addButton {
      text-align: center;
      color: $barcolor;
      cursor: pointer;
      font-weight: bolder;
      margin-left: 25px;
      margin-left: auto;
    margin-right: 0;
      padding: 5px;
      font-size: 30px;
    }
  }
  input[type="date"] {
    background-color: white;
    border: 2px solid $barcolor;
    padding: 3.5px;
    border-radius: 5px;
    outline: none;
    margin-left: auto;
    margin-right: 0;
    color: $barcolor;
  }
  .visitor_item {
    height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98),
      box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
    display: flex;

    .isaccessed {
      height: 70px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-image: linear-gradient(45deg, #ffffff 30%, #5c5c5c49 30%, #5c5c5c49 50%, #ffffff 50%, #ffffff 80%, #5c5c5c49 80%, #5c5c5c49 100%);
      background-size: 25.00px 25.00px;
      
    }
    .visitor_data {
      flex: 95%;
      display: flex;

      .visitor_picture {
        width: 30px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-radius: 30%;
        box-shadow: 0 0 0 10px #ebeef3, 0 0 0 20px #f3f4f6;
      }

      .visitor_info {
        flex: 10%;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .visitor_fullname {
          color: #34303d;
          font-weight: bolder;
          font-size: 18px;
          letter-spacing: 0.64px;
        }
        .visitor_tel {
          color: #979cb0;
          font-weight: 100;
          margin-top: 5px;
          font-size: 12px;
          letter-spacing: 0.64px;
        }
        .visitor_email {
          color: #979cb0;
          font-weight: 100;
          font-size: 12px;
          letter-spacing: 0.64px;
        }
      }
      .visitor_end {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px;
        height: 100%;
        .visit_more {
          font-size: 20px;
          color: #979cb0;
          cursor: pointer;
        }
        .visit_date {
          color: #979cb0;
          font-weight: 700;
          font-size: 12px;
          & > span {
            opacity: 0.8;
            font-weight: 600;
            font-size: 13px;
            margin-left: 3px;
          }
        }
      }
    }
    .visitor_access_action {
      flex: 5%;
      justify-content: center;
      align-items: center;
      display: flex;
      .visitor_access {
        height: 100%;
        width: 10px;
        flex: 20%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        cursor: pointer;
        background-color: $greenOk;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .visitor_actions {
      flex: 10%;
      justify-content: center;
      align-items: center;
      display: flex;

      .visitor_edit {
        height: 100%;
        flex: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        cursor: pointer;
        background-color: $primary-alt;
      }

      .visitor_remove {
        height: 100%;
        flex: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        cursor: pointer;
        background-color: $redError;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
</style>