<template>
  <div class="app">
    <error-modal/>
    <loading-spinner :show="isLoading" />
    <SideBar v-if="!$router.currentRoute.meta.hasNoSidebar" />
    <router-view class="content" />
  </div>
</template>

<script>
import SideBar from "@/components/ui/SideBar";
import LoadingSpinner from "@/components/ui/LoadingSpinner";
import ErrorModal from "@/components/ui/error/ErrorModal";

export default {
  name: "App",
  
  components: {
    SideBar,
    LoadingSpinner,
    ErrorModal,
  },
  computed: {
    isLoading(){
      return this.$store.getters.isLoading;
    }
  },
 
};
</script>
<style lang="scss">
@import "variables";
@import "main";
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  .content {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}
@media screen and (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}
</style>