* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Trebuchet MS", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #334155;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("@/assets/wallpapertransparent.png");
    background-color: $light;
    overflow: hidden;
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.Error {
    background-color: white;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: $primary;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
    }

    i {
        color: $redError;
    }
}

.modalcontainer {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.75);
    }
}

.buttonConfirmer {
    padding: 1rem;
    display: flex;
    background-color: $primary;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    button {
        flex: 50%;
        height: 100%;
        text-transform: uppercase;
        font-weight: bolder;
        color: white;
        border-radius: 3px;
    }
}

.dellMsg p {
    padding: 1rem;
    color: #ff130d;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.clickable:hover {
    cursor: pointer;
}




input[type="tel"],
input[type="email"],
input[type="text"],
input[type="password"],
input[type="radio"]+label,
select option,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: transparent;
    border: none;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input:focus {
    outline: 0;
    border-color: $primary-alt;
}

input:focus+.input-group i {
    color: $primary-alt;
}

input:focus+.input-group:after {
    border-right-color: $primary-alt;
}






.buttonSave {
    padding: 1rem;
    display: flex;
    background-color: $primary;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    button {
        flex: 50%;
        color: white;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-weight: bolder;
        border-radius: 3px;
    }
}

#checkbox {
    margin-left: 15px;
}

/******************************* Container From ****************************************/

.containerFrom {
    border-radius: 5px;


    h3 {
        padding-left: 1em;
    }

    .row {
        zoom: 1;
        padding: 1em 3em 2em 3em;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        margin: 15px;

        &:after {
            clear: both;
        }

        h1 {
            text-align: center;
        }

        .input-group {
            margin-bottom: 1em;
            zoom: 1;
            background-color: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            position: relative;

            &:before,
            &:after {
                content: "";
                display: table;
            }

            &:after {
                clear: both;
            }

            input {
                padding-left: 4.4em;
            }

            .input-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 3.4em;
                height: 3.4em;
                line-height: 3.4em;
                text-align: center;
                pointer-events: none;

                &:after {
                    position: absolute;
                    top: 0.6em;
                    bottom: 0.6em;
                    left: 3.4em;
                    display: block;
                    border-right: 1px solid #e5e5e5;
                    content: "";
                    -webkit-transition: 0.35s ease-in-out;
                    -moz-transition: 0.35s ease-in-out;
                    -o-transition: 0.35s ease-in-out;
                    transition: 0.35s ease-in-out;
                    transition: all 0.35s ease-in-out;
                }

                i {
                    -webkit-transition: 0.35s ease-in-out;
                    -moz-transition: 0.35s ease-in-out;
                    -o-transition: 0.35s ease-in-out;
                    transition: 0.35s ease-in-out;
                    transition: all 0.35s ease-in-out;
                }
            }

            select {
                height: 3.4em;
                line-height: 2;
                padding-left: 4.4em;

                &:first-of-type {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                &:last-of-type {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                &:focus,
                &:active {
                    outline: 0;
                }

                option {
                    background-color: $primary-alt;
                    color: #fff;
                    width: 0px;
                }
            }







        }

        .toggler-wrapper {
            display: block;
            width: 45px;
            height: 24px;
            cursor: pointer;
            position: relative;
            left: 1.1rem;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked+.toggler-slider {
                background-color: #44cc66;
            }

            .toggler-slider {
                background-color: $primary;
                position: absolute;
                border-radius: 100px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            .toggler-knob {
                position: absolute;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            &.style-19 input[type="checkbox"]:checked+.toggler-slider {
                background-color: white;
                border-color: #44cc66;

            }

            &.style-19 input[type="checkbox"]:checked+.toggler-slider:after {
                content: 'Actif';
            }

            &.style-19 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
                left: calc(100% - 19px - 3px);
                background-color: #44cc66;
            }

            &.style-19 .toggler-slider {
                background-color: transparent;

                border-radius: 0;
                border: 2px solid $primary;

                &:after {
                    content: 'Inactif';

                    position: absolute;
                    top: 50%;
                    right: -60px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 75%;
                    text-transform: uppercase;
                    font-weight: 500;
                    opacity: 0.7;
                }
            }



            &.style-19 .toggler-knob {
                width: calc(25px - 6px);
                height: calc(25px - 6px);
                left: 3px;
                top: 0px;
                background-color: $primary;
            }
        }

    }
}

@media only screen and (max-width: 700px) {
    .col-half {
        width: 100%;
        padding-right: 0;
    }
}




/************** Style Tableau *****************/
.table {
    width: 100vw;
    th,
    td {
        border-color: #e9e9e9;
        padding: 12px 18px;
        vertical-align: middle;
    }

    thead {
        tr {
            th {
                &:last-child {
                    width: 100px;
                }
            }
        }
    }

    tbody {


        tr {
            opacity: 0.7;

            &:nth-of-type(odd) {
                background-color: #fcfcfc;
            }

            &:hover {
                opacity: 1;
            }
        }

        td {

            i {
                font-size: 19px;
            }

            &:last-child i {
                opacity: 0.9;
                font-size: 22px;
                margin-left: 5px;
                cursor: pointer;
                margin: 7px;
            }

            .fa-trash,
            .fa-circle-xmark {
                color: $redError;
            }

            .fa-circle-check {
                color: $greenOk;
            }

            .fa-pencil {
                color: $blue;
                
            }
        }
    }


}

/******************************* Container items ****************************************/

.container-items {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    
    .header {
        
        background-image: repeating-radial-gradient(circle at $start-list,
                transparent 0%,
                transparent 10%,
                rgba(52, 48, 61, 0.33) 10%,
                rgba(52, 48, 61, 0.33) 17%),
            linear-gradient(to right, #201b34, #34303d);
        color: #fff;
        position: relative;
        border-radius: 12px 12px 0 0;
        height: 200px;
        
        .header_content {
           
            .fa-angle-left{
                margin: 15px;
                opacity: 0.9;
                cursor: pointer;
            }
            .container-items_title {
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 5vw;
                transform: translateY(-50%);
                text-transform: uppercase;
                margin: 0;

                span {
                    display: block;
                }

                &--top {
                    font-size: 1.2rem;
                    font-weight: bolder;
                    letter-spacing: 6.5px;
                }

                &--bottom {
                    font-size: 1.5rem;
                    font-weight: 800;
                    letter-spacing: 3.55px;
                    opacity: 0.65;
                    transform: translateY(-2px);
                }
            }

            .container-items_icon {
                opacity: 0.8;
                padding: 10px;
                width: 110px;
                position: absolute;
                top: 50%;
                left: $start-list;
                transform: translate(-50%, -50%);
                
                img {
                    opacity: 0.8;
                    display: block;
                    width: 100px;
                    height: 100px;
                }

                i.fa-xl {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    color: white;
                    opacity: 0.8;

                }
            }
        }

        .search {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            input {
                background-color: white;
            }

            .searchTerm {
               
                height: 40px;
                flex: 50%;
                border: 5px solid #34303d;
                border-radius: 15px;
                margin-inline: 25px;
                padding: 10px;
                outline: none;
                color: #34303d;
            }

            .searchButtons {
                padding: 5px;
                margin-right: 15px;

                .addButton {
                    border: 1px solid #34303d;
                    background: #34303d;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bolder;
                    font-size: 30px;
                }
            }
        }


    }

    .tabs {
        display: flex;
        position: relative;
        transform: rotateX(180deg);
        background-color: #fff;
        padding-bottom: 0.75rem;
        border-radius: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            height: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: #ebebeb;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #334155;
        }
        
        * {
            z-index: 2;
        }

        input[type="radio"] {
            display: none;
        }

        .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotateX(180deg);
            height: 54px;
            position: relative;
            font-weight: bold;
            cursor: pointer;
            transition: color 0.15s ease-in;
        }

        input[type="radio"] {
            &+label {
                color: $grey;
            }

            &:checked {
                &+label {
                    color: $barcolor;
                    background-color: $tabcolor;
                    border-top: 2px solid $barcolor;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }





    }


    @media (max-width: 700px) {
        .tabs {
            transform: scale(0.6);
        }
    }
}