/// SCREEN SIZES
$screen-size-sm: 600px;
$screen-size-lg: 1200px;

/// FONTS
$font-family: 'Trebuchet MS', sans-serif;

/// COLORS ///

$primary: #34303d;
$primary-alt: #334155;
$grey: #64748b;
$light: #f1f5f9;
$redError: #ee4b5e;
$greenOk: #32CD32;
$blue: #0477CF;
$barcolor: #334155;
$tabcolor: #e6eef9;
/// FONT SIZES ///
$sidebar-width: 330px;
$start-list: 15%;