<template>
  <div>
    <user-form
      :selectedItem="isEdit ? selectedItem : undefined"
      @save="addItem"
      @edit="editItem"
      @close="closeForm"
      v-if="isForm"></user-form>
    <div class="container-items" v-else>
      <delete-modal name="utilisateur" :mixName="mixinsName" :item="selectedItem" />
      <div class="header">
        <div class="header_content">
          <i
            class="fa fa-person-military-pointing container-items_icon fa-5x"
            aria-hidden="true"
            v-if="isSuperAdmin"></i>
          <img
            src="@/assets/users_icon.svg"
            alt="logo_icon"
            v-else
            class="container-items_icon"/>
          <h1 class="container-items_title">
            <span class="container-items_title--top">Liste</span>
            <span class="container-items_title--bottom" v-if="isSuperAdmin">Gardien</span>
            <span class="container-items_title--bottom" v-else>Personnel</span>
          </h1>
        </div>
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            v-model="search"
            placeholder="Recherche une utilisateur par leur nom"/>
          <div class="searchButtons">
            <button type="submit" class="addButton" @click="toggleAjoutModal">
              <i class="fa fa-add" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <table class="table" aria-describedby="container-items_title">
        <thead>
          <tr>
            <th>Nom et prénom</th>
            <th>Email</th>
            <th>Numéro de téléphone</th>
            <th>Fonction</th>
            <th>Adresse</th>
            <th>Actif</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in filteredItems" :key="item.id">
            <td>{{ item.nom }} {{ item.prenom }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telephone }}</td>
            <td>{{ item.fonction }}</td>
            <td>{{ item.adresse }}</td>
            <td>
              <i
                class="fa-solid"
                @click="
                  switchActif({
                    isUser: true,
                    id: item.id,
                  })
                "
                aria-hidden="true"
                :class="verifActif(item)"></i>
            </td>
            <td>
              <i
                class="fa fa-pencil"
                @click="toggleEditModal(item)"
                aria-hidden="true"></i>
              <i
                class="fa fa-trash"
                @click="toggleSuppressionModal(item)"
                aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import UserForm from "./userForm/UserForm";
import filtersMixins from "@/mixins/filtersMixins";
import formMixins from "@/mixins/formMixins";
import apisMixins from "@/mixins/apisMixins";
import DeleteModal from "@/components/ui/DeleteModal";

export default {
  name: "UsersPage",
  components: { UserForm,DeleteModal },
  mixins: [filtersMixins, formMixins, apisMixins],
  created() {
    this.mixinsName = "User";
    this.loadItems();
  },
  computed: {
    selectedItem(){
        return this.$store.getters.getSelectedItem;
    },}
};
</script>

<style lang="scss">
</style>