<template>
  <div v-if="show" class="modalcontainer">
    <div @click="tryClose" class="backdrop"></div>
    <transition class="transition" name="dialog" @click.stop>
      <dialog open v-if="show" :class="{ 'transparent-background': !title }">
        <header v-if="title">
          <slot name="header">
            <h2>{{ title }}</h2>
            <i
              class="fa fa-times fa-2x"
              @click="tryClose"
              aria-hidden="true"></i>
          </slot>
        </header>
        <section>
          <slot></slot>
        </section>
      </dialog>
    </transition>
  </div>
</template>

<script>
export default {
  name: "BasicModal",
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: false,
    },
    fixed: {
      type: Boolean,
      required: false,
      default: false,
    },
    confirm: {
      type: Boolean,
      required: false,
    },
  },
  methods: {
    tryClose() {
      this.$emit("close");
    },
  },
};
</script>

<style  lang="scss">
@import "@/variables";

dialog {
  z-index: 100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.transparent-background {
  background-color: transparent;
  box-shadow: none;
}
header {
  color: $primary-alt;
  width: 100%;
  padding: 1rem;
  display: flex;
  i {
    cursor: pointer;
    margin-left: auto;
  }
}
header h2 {
  margin: 0;
}
section {
  width: 100%;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
.dialog-enter-active {
  transition: all 0.3s ease-out;
}
.dialog-leave-active {
  transition: all 0.3s ease-in;
}
.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}
@media (min-width: 768px) {
  dialog {
    width: 40rem;
  }
}
</style>