<template>
  <BasicModal
        :title="'Suppression d\''+name"
        :show="showSuppression"
        :confirm="true"
        @close="toggleSuppressionModal">
        <div class="dellMsg">
          <p style="color: #ff130d; display: flex; justify-content: center">
            Etes-vous sûr de vouloir supprimer l'{{name}} {{selectedNom}} ?
          </p>
          <div class="buttonConfirmer">
            <button @click="deleteItem(selectedId)">Confirmer</button>
          </div>
        </div>
      </BasicModal>
</template>

<script>
import BasicModal from "@/components/ui/BasicModal";
import formMixins from "@/mixins/formMixins";
import apisMixins from "@/mixins/apisMixins";
export default {
    name:"delete-modal",
    components:{BasicModal},
    props:{
    name:{
      type: String,
    },
    mixName:{
      type: String,
    },
    IdLoad:{
      type:Number,
    }
    },
    computed:{
      selectedNom(){
        if(this.name!=="Visite") return this.$store.getters.getSelectedItem?this.$store.getters.getSelectedItem.nom:"";
        return this.$store.getters.getSelectedItem && this.$store.getters.getSelectedItem.visitor?this.$store.getters.getSelectedItem.visitor.nom:""
      },
      selectedId(){
        return this.$store.getters.getSelectedItem.id;
      },
      showSuppression(){
        return this.$store.getters.suppressionPopUp;
      }
    },
    mixins:[formMixins,apisMixins],
    created(){
      this.mixinsName=this.mixName;
      this.idLoad=this.IdLoad;
    }
}
</script>

<style>

</style>