<template>
  <div class="sidebar">
    <div class="logo">
      <img src="@/assets/logo.png" alt="logo" />
    </div>
    <div class="logo_avatar">
      <img src="@/assets/avatar.png" alt="logo_avatar" class="logo_avatar" />
    </div>
    <div class="user_info">
      <span class="fullname">{{ Fullname }}</span>
      <span class="email">{{ Email }}</span>
      <span class="role">{{ Role }}</span>
      <span class="company">{{ Company }}</span>
    </div>
    <div class="menu">
      <router-link v-if="hasAccessVisit" to="/Home/Visite" class="button">
        <i class="fa fas fa-eye fa-3x" aria-hidden="true"></i>
        <span class="text">Visites</span>
      </router-link>
      <router-link
        v-if="hasAccessGestionUsers"
        to="/Home/Utilisateurs"
        class="button">
        <i
          class="fa fa-person-military-pointing"
          aria-hidden="true"
          v-if="isSuperAdmin"></i>
        <i class="fa fas fa-users fa-3x" aria-hidden="true" v-else></i>
        <span class="text" v-if="isSuperAdmin">Gestion Gardien</span>
        <span class="text" v-else>Gestion Personnel</span>
      </router-link>
      <router-link v-if="isSuperAdmin" to="/Home/Entreprises" class="button">
        <i class="fa fad fa-building fa-3x" aria-hidden="true"></i>
        <span class="text">Gestion Entreprise</span>
      </router-link>
    </div>

    <div class="flex"></div>

    <div class="menu endLogout">
      <div @click="logOut" class="button">
        <i class="fa fas fa-sign-out-alt fa-3x" aria-hidden="true"></i>
        <span class="text">Déconnexion</span>
      </div>
    </div>
    <div class="dropdown">
      <div class="logo_avatarEnd">
        <img src="@/assets/avatar.png" alt="logo_avatarEnd" />
      </div>
      <div class="dropdown-content">
        <span class="fullname">{{ Fullname }}</span>
        <span class="email">{{ Email }}</span>
        <span class="role">{{ Role }}</span>
        <span class="company">{{ Company }}</span>
        <div @click="logOut" class="button">
          <i class="fa fas fa-sign-out-alt fa-3x" aria-hidden="true"></i>
          <span class="text">Déconnexion</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      content: "",
    };
  },
  computed: {
    Role() {
      return this.$store.getters.getRole;
    },
    Company() {
      return this.$store.getters.getCompanyName;
    },
    Email() {
      return this.$store.getters.getEmail;
    },
    Fullname() {
      return this.$store.getters.getFullName;
    },
    hasAccessVisit() {
      return this.$store.getters.hasAccessVisit;
    },
    hasAccessGestionUsers() {
      return this.$store.getters.hasAccessGestionUsers;
    },
    isSuperAdmin() {
      return this.$store.getters.isSuperAdmin;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("logout");
      this.$router.push("/authentication");
    },
  },
};
</script>

<style lang="scss">
@import "@/variables";

.sidebar {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  color: $light;
  z-index: 10;
  transition: 0.2s ease-in-out;
  .flex {
    flex: 1 1 0%;
  }
  .logo {
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
    }
  }
  .logo_avatar {
    border-top-style: inset;
    display: flex;
    justify-content: center;
    img {
      margin-top: 30px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #ebeef3, 0 0 0 5px #f3f4f6;
    }
  }
  .logo_avatarEnd {
    display: inline;
    float: right;
    border-top-style: inset;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    img {
      margin: 10px;
      width: 50px;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #ebeef3, 0 0 0 5px #f3f4f6;
    }
  }
  .fullname {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #ffc252;
    padding: 15px;
  }
  .role {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-bottom: 15px;
  
  }
   .company {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #FDDC89;
    padding-bottom: 15px;
    border-bottom-style: inset;
  }
  .email {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .menu {
    margin-top: 10px;
    .button {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 80px;
      transition: 0.2s ease-in-out;
      padding: 1rem 1rem;
      border-left: 5px solid transparent;
      .fa {
        font-size: 1.5rem;
        height: 30px;
        color: $light;
        transition: 0.2s ease-in-out;
      }
      .text {
        color: $light;
        margin-left: 2rem;
        transition: 0.2s ease-in-out;
      }

      &:hover,
      &.router-link-exact-active {
        background-color: $primary-alt;
        .fa,
        .text {
          color: $light;
        }
      }

      &.router-link-exact-active {
        border-left: 5px solid $light;
      }
    }
  }
  .dropdown {
    position: relative;
    display: none;
  }

  .dropdown-content {
    display: none;
    text-align: center;
    background-color: $primary-alt;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11 !important;
    .button {
      padding: 10px;
      .fa {
        font-size: 1.5rem;
        height: 30px;
        color: $light;
        transition: 0.2s ease-in-out;
      }
      .text {
        color: $light;
        margin-left: 2rem;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .dropdown:hover,
  .dropdown:active {
    .dropdown-content {
      display: block;
    }
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100vw;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .sidebar a {
    float: left;
  }
  .user_info {
    display: none;
  }
  .dropdown {
    display: inline-block !important;
  }
  .menu {
    margin: 0px !important;
  }
  .router-link-exact-active {
    border-left: 0px solid transparent !important;
    border-bottom: 5px solid $light;
  }
  .logo_avatar {
    display: none !important;
  }
  .logo_avatarEnd {
    display: inline;
    border: none !important;
    margin: 3px;
  }
  .endLogout {
    display: none;
  }
}

@media screen and (max-width: 681px) {
  .menu {
    flex-grow: 10;
  }
  .logo,
  .dropdown {
    flex-grow: 1;
  }
  .flex {
    display: none;
  }
  .sidebar {
    width: 100vw;
    height: 160px;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>